sudo: required
services:
  - docker

before_install:
  - docker build -t tayo96/dr -f Dockerfile.dev .
  
script:
  - docker run -e CI=true tayo96/dr npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "dr"
  env: "dr-env"
  bucket_name: "elasticbeanstalk-us-east-2-093269691064"
  bucket_path: "dr"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"

   